/*
    CSS (Don't read or you mom die)
*/

body {
    background: url(../img/bg_new.png) 0 0 fixed;
}

/*
@media screen and (max-width: 800px) {
    body {
        background: url(../img/bg_new_mobile.png) 0 0 fixed;
    }
}
*/

@font-face {
    font-family: khand;
    src: url(../fonts/Khand-Regular.woff);
}

.bg-pink {
    background-color: #FE6099;   
}

h1 {
    font-family: khand;
    font-size: 48px;
}

p {
    font-family: khand;
    font-size: 18px;
}

.testborder {
    border: 1px solid #19C89C;
}

.label-white {
    color: #ffffff;
}

.label-green {
    color: #19C89C;
}

.label-black {
    color: #000000;
}